# Data 8: Lab: MT Review

In [1]:
import numpy as np
from datascience import *
import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
rolls = np.random.choice(np.arange(1,7,1),10)
rolls

array([6, 6, 6, 4, 1, 6, 4, 5, 5, 2])

In [3]:
np.count_nonzero(rolls > 4) == 0

False

In [4]:
def if_prime(n):
    if n==1:
        return False
    for i in np.arange(2,n):
        if n % i == 0:
            return False
    return True

In [5]:
np.random.choice

In [6]:
def if_prime(n):
    for i in np.arange(2,n):
        if n % i == 0:
            return False
    return True

In [7]:
if_prime(7)

True

In [8]:
base_dir = "../" # Set file path to import data
pokemon_table = Table.read_table(base_dir+'data/pokemon.csv')
pokemon_table

name       | pokedex_number | type1 | type2  | abilities                   | generation | is_legendary | base_total | capture_rate | against_bug | against_dark | against_dragon | against_electric | against_fairy | against_fight | against_fire | against_flying | against_ghost | against_grass | against_ground | against_ice | against_normal | against_poison | against_psychic | against_rock | against_steel | against_water | attack | base_egg_steps | base_happiness | classfication       | defense | experience_growth | height_m | hp   | japanese_name    | percentage_male | sp_attack | sp_defense | speed | weight_kg
Bulbasaur  | 1              | grass | poison | ['Overgrow', 'Chlorophyll'] | 1          | 0            | 318        | 45           | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 49     | 5120           | 70             | Seed Pokémon        | 49      | 1059860           | 0.7      | 45   | Fushigidaneフシギダネ | 88.1            | 65        | 65         | 45    | 6.9
Ivysaur    | 2              | grass | poison | ['Overgrow', 'Chlorophyll'] | 1          | 0            | 405        | 45           | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 62     | 5120           | 70             | Seed Pokémon        | 63      | 1059860           | 1        | 60   | Fushigisouフシギソウ  | 88.1            | 80        | 80         | 60    | 13
Venusaur   | 3              | grass | poison | ['Overgrow', 'Chlorophyll'] | 1          | 0            | 625        | 45           | 1           | 1            | 1              | 0.5              | 0.5           | 0.5           | 2            | 2              | 1             | 0.25          | 1              | 2           | 1              | 1              | 2               | 1            | 1             | 0.5           | 100    | 5120           | 70             | Seed Pokémon        | 123     | 1059860           | 2        | 80   | Fushigibanaフシギバナ | 88.1            | 122       | 120        | 80    | 100
Charmander | 4              | fire  | nan    | ['Blaze', 'Solar Power']    | 1          | 0            | 309        | 45           | 0.5         | 1            | 1              | 1                | 0.5           | 1             | 0.5          | 1              | 1             | 0.5           | 2              | 0.5         | 1              | 1              | 1               | 2            | 0.5           | 2             | 52     | 5120           | 70             | Lizard Pokémon      | 43      | 1059860           | 0.6      | 39   | Hitokageヒトカゲ     | 88.1            | 60        | 50         | 65    | 8.5
Charmeleon | 5              | fire  | nan    | ['Blaze', 'Solar Power']    | 1          | 0            | 405        | 45           | 0.5         | 1            | 1              | 1                | 0.5           | 1             | 0.5          | 1              | 1             | 0.5           | 2              | 0.5         | 1              | 1              | 1               | 2            | 0.5           | 2             | 64     | 5120           | 70             | Flame Pokémon       | 58      | 1059860           | 1.1      | 58   | Lizardoリザード      | 88.1            | 80        | 65         | 80    | 19
Charizard  | 6              | fire  | flying | ['Blaze', 'Solar Power']    | 1          | 0            | 634        | 45           | 0.25        | 1            | 1              | 2                | 0.5           | 0.5           | 0.5          | 1              | 1             | 0.25          | 0              | 1           | 1              | 1              | 1               | 4            | 0.5           | 2             | 104    | 5120           | 70             | Flame Pokémon       | 78      | 1059860           | 1.7      | 78   | Lizardonリザードン    | 88.1            | 159       | 115        | 100   | 90.5
Squirtle   | 7              | water | nan    | ['Torrent', 'Rain Dish']    | 1          | 0            | 314        | 45           | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 48     | 5120           | 70             | Tiny Turtle Pokémon | 65      | 1059860           | 0.5      | 44   | Zenigameゼニガメ     | 88.1            | 50        | 64         | 43    | 9
Wartortle  | 8              | water | nan    | ['Torrent', 'Rain Dish']    | 1          | 0            | 405        | 45           | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 63     | 5120           | 70             | Turtle Pokémon      | 80      | 1059860           | 1        | 59   | Kameilカメール       | 88.1            | 65        | 80         | 58    | 22.5
Blastoise  | 9              | water | nan    | ['Torrent', 'Rain Dish']    | 1          | 0            | 630        | 45           | 1           | 1            | 1              | 2                | 1             | 1             | 0.5          | 1              | 1             | 2             | 1              | 0.5         | 1              | 1              | 1               | 1            | 0.5           | 0.5           | 103    | 5120           | 70             | Shellfish Pokémon   | 120     | 1059860           | 1.6      | 79   | Kamexカメックス       | 88.1            | 135       | 115        | 78    | 85.5
Caterpie   | 10             | bug   | nan    | ['Shield Dust', 'Run Away'] | 1          | 0            | 195        | 255          | 1           | 1            | 1              | 1                | 1             | 0.5           | 2            | 2              | 1             | 0.5           | 0.5            | 1           | 1              | 1              | 1               | 2            | 1             | 1             | 30     | 3840           | 70             | Worm Pokémon        | 35      | 1000000           | 0.3      | 45   | Caterpieキャタピー    | 50              | 20        | 20         | 45    | 2.9
... (791 rows omitted)

In [9]:
pokemon_table.group('generation',np.mean)

generation | name mean | pokedex_number mean | type1 mean | type2 mean | abilities mean | is_legendary mean | base_total mean | capture_rate mean | against_bug mean | against_dark mean | against_dragon mean | against_electric mean | against_fairy mean | against_fight mean | against_fire mean | against_flying mean | against_ghost mean | against_grass mean | against_ground mean | against_ice mean | against_normal mean | against_poison mean | against_psychic mean | against_rock mean | against_steel mean | against_water mean | attack mean | base_egg_steps mean | base_happiness mean | classfication mean | defense mean | experience_growth mean | height_m mean | hp mean | japanese_name mean | percentage_male mean | sp_attack mean | sp_defense mean | speed mean | weight_kg mean
1          |           | 76                  |            |            |                | 0.0331126         | 416.252         |                   | 0.905629         | 1.06623           | 0.980132            | 1.15894               | 0.917219           | 0.953642           | 1.03642           | 1.16887             | 0.966887           | 1.14735            | 1.16887             | 1.1606           | 0.937086            | 0.899007            | 1.21854              | 1.27152           | 0.937086           | 1.10927            | 74.5298     | 5933.77             | 69.7351             |                    | 70.0795      | 1.05228e+06            | nan           | 64.3444 |                    | nan                  | 69.404         | 67.7417         | 70.1523    | nan
2          |           | 201.5               |            |            |                | 0.06              | 413.18          |                   | 0.99             | 1.025             | 0.91                | 1.125                 | 1                  | 1.095              | 1.1325            | 1.13                | 0.92               | 1.1075             | 1.025               | 1.205            | 0.935               | 1.04                | 0.94                 | 1.3725            | 0.985              | 1.1425             | 69.96       | 6528                | 66.1                |                    | 71.79        | 1.02587e+06            | 1.163         | 70.98   |                    | nan                  | 65.4           | 73.44           | 61.61      | 49.105
3          |           | 319                 |            |            |                | 0.0740741         | 420.022         |                   | 1.14259          | 1.08889           | 1                   | 1.05556               | 1.11111            | 1.13889            | 1.08704           | 1.18704             | 1.01852            | 1.11296            | 1.07778             | 1.20556          | 0.883333            | 0.955556            | 0.907407             | 1.17778           | 0.966667           | 1.01667            | 77.1852     | 7054.22             | 61.963              |                    | 72.637       | 1.05886e+06            | 1.22963       | 65.6667 |                    | nan                  | 71.563         | 69.3926         | 63.5778    | 67.0778
4          |           | 440                 |            |            |                | 0.121495          | 451.178         |                   | 0.997664         | 1.07009           | 0.985981            | 1.04673               | 1.03972            | 1.16589            | 1.21729           | 1.18224             | 0.962617           | 0.971963           | 1.16121             | 1.26636          | 0.852804            | 0.904206            | 0.971963             | 1.20794           | 0.964953           | 1.03505            | 82.6729     | 7895.33             | 68.0374             |                    | 76.1682      | 1.05566e+06            | 1.13364       | 73.1028 |                    | nan                  | 74.6355        | 74.5234         | 70.0748    | 76.885
5          |           | 571.5               |            |            |                | 0.0833333         | 427.038         |                   | 1.03205          | 1.05128           | 1.01282             | 1.01442               | 1.16667            | 1.12179            | 1.23878           | 1.22436             | 0.987179           | 0.948718           | 1.04327             | 1.19231          | 0.871795            | 0.945513            | 0.942308             | 1.24679           | 0.939103           | 1.0641             | 80.5577     | 7228.72             | 65.609              |                    | 71.9615      | 1.06156e+06            | 1.03205       | 70.3141 |                    | nan                  | 69.9744        | 67.7115         | 66.5192    | 52.4026
6          |           | 685.5               |            |            |                | 0.0833333         | 437.611         |                   | 0.940972         | 1.04514           | 0.923611            | 1.05556               | 1.15972            | 1.01736            | 1.04514           | 1.13194             | 1.04861            | 0.979167           | 1.13194             | 1.24653          | 0.826389            | 1.07639             | 0.944444             | 1.28472           | 1.21181            | 1.02083            | 76.5278     | 7200                | 66.4583             |                    | 73.5556      | 1.05053e+06            | nan           | 71.1111 |                    | nan                  | 76.5694        | 73.1944         | 66.6528    | nan
7          |           | 761.5               |            |            |                | 0.2125            | 448.163         |                   | 0.90625          | 1.03125           | 0.9                 | 1.05                  | 1.1375             | 0.915625           | 1.17813           | 1.33438             | 1.0125             | 0.89375            | 1.08125             | 1.225            | 0.86875             | 1.13437             | 1.07187              | 1.2125            | 1.00313            | 0.98125            | 84.6375     | 9600                | 56.875              |                    | 78.0125      | 1.08035e+06            | nan           | 70.575  |                    | nan                  | 75.25          | 75.65           | 64.0375    | nan

In [10]:
data = Table().with_columns('Major',['CS','CS','Econ','CS'],'Sleep',[3,9,10,9],'GPA',[3.3,1.2,2.3,2.7])
data

Major | Sleep | GPA
CS    | 3     | 3.3
CS    | 9     | 1.2
Econ  | 10    | 2.3
CS    | 9     | 2.7

In [11]:
data.group('Major')

Major | count
CS    | 3
Econ  | 1

In [12]:
year = Table().with_columns('Subject',['CS','Econ','Math','CS'],'Year',[1,2,1,2])
year

Subject | Year
CS      | 1
Econ    | 2
Math    | 1
CS      | 2

In [15]:
new_data = data.join('Major',year,'Subject')
new_data

Major | Sleep | GPA  | Year
CS    | 3     | 3.3  | 1
CS    | 3     | 3.3  | 2
CS    | 9     | 1.2  | 1
CS    | 9     | 1.2  | 2
CS    | 9     | 2.7  | 1
CS    | 9     | 2.7  | 2
Econ  | 10    | 2.3  | 2

In [20]:
new_data.pivot('Major','Year')

Year | CS   | Econ
1    | 3    | 0
2    | 3    | 1

In [21]:
new_data.pivot('Major','Year',values='GPA',collect=np.mean)

Year | CS   | Econ
1    | 2.4  | 0
2    | 2.4  | 2.3