In [1]:
import pandas as pd
import numpy as np
import datascience

## Week 4: Tables and Visualizations

In [33]:
shoes = pd.DataFrame({'Name':['A','B','C','B'],'Size':[3,2,6,1]})
shoes

  Name  Size
0    A     3
1    B     2
2    C     6
3    B     1

In [48]:
shoes.groupby(['Name']).agg(lambda x: len(np.unique(x)))

      Size
Name
A        1
B        2
C        1

In [51]:
shoes.groupby(['Size']).agg(lambda x: len(np.unique(x)))

      Name
Size
1        1
2        1
3        1
6        1

In [52]:
def average_of_first_and_last(series):
    return (series.iloc[0] + series.iloc[-1])/2

In [53]:
shoes.groupby(['Name']).agg(average_of_first_and_last)

      Size
Name
A      3.0
B      1.5
C      6.0

## Week 6: Iterations, Conditionals, Chance

### Comparing String Values

*In order of lowest to highest value*

1. Numbers '0' < '1' < ... < '9'
2. Upper case letters 'A' < 'B' < ... < 'Z'
3. Lower case letters 'a' < 'b' < .. < 'z'

In [45]:
'10' < '5'

True

In [46]:
'a' > 'Z'

True

In [19]:
def roll_die():
    die = [1,1,2,3,4,5,5,5,6]
    results = []
    for i in np.arange(500):
        results = np.append(results, np.random.choice(die))
    num_sixes = np.count_nonzero(results == 6)
    return num_sixes / 500 > 0.12
roll_die()

True

In [42]:
die = [1,1,2,3,4,5,5,5,6]
results = []
results = [np.random.choice(die) for i in range(10)]
results

[4, 5, 1, 2, 4, 5, 6, 2, 4, 5]

In [34]:
len([i for i in range(500) if np.random.choice(die)==6])/500 > 0.12

True